@import compass/css3.scss

$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif
$primary-colour: green
$secondary-colour: black
$tertiary-colour: greenyellow

body
  padding: 50px
  font: 100% $font-stack
  color: $primary-colour
  background-color: $secondary-colour

a
  color: $tertiary-colour
  font-weight: bold
